<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="35.3.1" targetFramework="net48" />
  <package id="Bogus.Healthcare" version="35.3.1" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.57" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>